.bg-blue {
    background-color: blue;
}

.c-white {
    color: white;
}

.c-blue {
    color: blue
}

.c-red {
    color: red;
}

.c-green {
    color: green;
}

.c-black {
    color: black;
}

.f-bold {
    font-weight: bold;
}

.bd-color {
    border: solid;
    padding: 0 1px;
}